<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">danielsApp</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
    <%= render 'ses_manager/session_manager' %>

    </ul>
  </div>
</div>





